@font-face {
  font-family: 'Moderat Bold';
  src: url(../fonts/ModeratBold.eot);
  src: url(../fonts/ModeratBold.eot?#iefix) format('embedded-opentype'),
       url(../fonts/ModeratBold.woff2) format('woff2'),
       url(../fonts/ModeratBold.woff) format('woff'),
       url(../fonts/ModeratBold.ttf) format('truetype'),
       url(../fonts/ModeratBold.svg#ModeratBold) format('svg');
}
