@font-face {
  font-family: 'Moderat Regular';
  src: url(../fonts/ModeratRegular.eot);
  src: url(../fonts/ModeratRegular.eot?#iefix) format('embedded-opentype'),
       url(../fonts/ModeratRegular.woff2) format('woff2'),
       url(../fonts/ModeratRegular.woff) format('woff'),
       url(../fonts/ModeratRegular.ttf) format('truetype'),
       url(../fonts/ModeratRegular.svg#ModeratRegular) format('svg');
}
