#footer {
    background: #fff;
    font-size: 0.875em;
    padding: 30px 0;

    .col-* {
      margin-bottom: 30px;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin-bottom: 0;
    }

    a, a:visited {
        font-family:$moderat-Bold;
        color: $dark;
        text-decoration: none;
        opacity: 1;
        transition: 0.2s;
    }
    a:hover, a:active {
        opacity: 0.6;
    }
}

.footer__logo {
  width: 150px;
}
